<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Testing" />
    <add key="ApiHost" value="https://panoptes-staging.zooniverse.org" />
    <add key="ApplicationId" value="535759b966935c297be11913acee7a9ca17c025f9f15520e7504728e71110a27" />
    <add key="StatsHost" value="https://stats.zooniverse.org" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>