<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Testing" />
    <add key="ApiHost" value="https://panoptes-staging.zooniverse.org" />
    <add key="ApplicationId" value="535759b966935c297be11913acee7a9ca17c025f9f15520e7504728e71110a27" />
    <add key="OAuthHost" value="https://panoptes-staging.zooniverse.org" />
    <add key="StatsHost" value="https://stats.zooniverse.org" />
  </appSettings>
</configuration>