<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="Release" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiHost" value="https://www.zooniverse.org" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApplicationId" value="f79cf5ea821bb161d8cbb52d061ab9a2321d7cb169007003af66b43f7b79ce2a" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OAuthHost" value="https://panoptes.zooniverse.org" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StatsHost" value="https://stats.zooniverse.org" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>